<%- include("header") -%>

<!-- 
    <% if (newListItems === "Saturday" || newListItems === "Sunday") { %>
    <h1 style="color: green">It's a <%= newListItems %>!</h1>
    <% } else { %>
    <h1 style="color: blue">It's a <%= newListItems %>!</h1>
    <% } %>
-->
<div class="box" id="heading">
    <h1> <%= listTitle %> </h1>

</div>

<div class="box">
    <% for (let i = 0; i < newListItems.length; i++) { %>
    <div class="item">
        <input type="checkbox">
        <p><%= newListItems[i] %></p>
    </div>
    <% } %>

    <form class="item" action="/" method="POST">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="typeOfList" value="<%= listTitle %>">+</button>
    </form>
</div>

<%- include("footer") -%>